

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img
                            src="https://w7.pngwing.com/pngs/401/845/png-transparent-grocery-store-facade-supermarket-building-emerging-supermarket-cartoon-animation-objects.png"
                            height="30"
                            alt="MDB Logo"
                            loading="lazy"
                    />
                </a>
                <!-- Left links -->
                <span style="font-size: xx-large; font-family: 'Arial Black',sans-serif ; color: #fff1f2"> SUPER MARKET </span>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin" style="color: #fff1f2">Admin</a>
                </li>
                <img
                        src="https://cdn.iconscout.com/icon/free/png-256/administrator-2166550-1836773.png"
                        height="30"
                        alt="MDB Logo"
                        loading="lazy"
                />


            </ul>

            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

